Elementos do projeto:

FORMIGAS saem do FORMIGUEIRO, andam pelo MAPA até encontrar uma COMIDA. Quando encontram, pegam uma unidade de comida e retornam ao formigueiro, deixando um rastro de FEROMÔNIO atrás de si. 

O FORMIGUEIRO armazena a comida.

FORMIGAS que encontram FEROMONIOS o seguem até a comida se estiverem no modo de procurar comida [Grau de aleatoriedade].

FEROMONIOS possuem tempo de vida. Quando chega a zero, o feromonio é destruído. A força do feromonio em um tile depende da quantidade de feromonios naquele tile.

FORMIGAS possuem "modos". Procurando comida, retornando ao formigueiro [, seguindo feromonios].

FORMIGAS possuem um campo de visão.

FONTES DE COMIDA possuem quantidades limitadas de comida que são repostas periodicamente.

Há um número máximo de FORMIGAS que podem estar coletando COMIDA ao mesmo tempo.

Para coltar comida é necessário usar dois "bastões".


EXTRAS:
	Lutinha entre as formiguinhaz
	Gerar mais formiguinhaz
	
	
==============
= REQUISITOS =
==============

Comportamento das formigas deve ser computado em thread(s) diferente(s) da principal
Mesmo para ambiente

============================
= PARAMETROS CONFIGURAVEIS =
============================

* Número de threads - mínimo um
* Dimensões do mapa
* Tempo de simulação
* Tempo de vida feromônio
* Tamanho do campo de visão das formigas
* Lista de formigueiros com suas posições e número de formigas
* Lista de fontes de comida, com sua posição, quantidade inicial, taxa de reposição e número máximo de formigas fazendo a coleta concorrentemente




=========================================================================


CLASSES:

	MUNDO
	TILE
	FORMIGA
	COMIDA
	FORMIGUEIRO
	FEROMONIO


ORDEM DE EXECUÇÃO DAS THREADS
	VETOR DE FORMIGAS
		- decidir o que fazer
			- depende do modo
			- voltar ao formigueiro soltando feromonios
			- procurar por feromonios ou comida e seguir
			- tentar pegar comida (inclui esperar se estiver cheio)
			- deixar comida no formigueiro
	VETOR DE FEROMONIOS
		- decair
	VETOR DE FORMIGUEIROS
	VETOR DE FONTES DE COMIDAS
		- Repor comida
	


Class MUNDO:
MÉTODOS:
	setup
	start
	update
	print
	hasFinished
	stop
ATRIBUTOS
	vetor_formigas
	vetor_feromonios
	vetor_formigueiros
	vetor_fonte_comidas



Class Formiga:
MÉTODOS:
	nextAction
	move
	enterFoodSource
	takeFood / takeGuard
	leaveFood
	leavePherormone
ATRIBUTOS:
	posicaoFormigueiro
	numeroFormigueiro
	
	currentPosition
	currentDirection
	
	isCarryingFood
	
Class Feromonio:
MÉTODOS:
	decay
ATRIBUTOS:
	remainingLifeTime
	numeroFormigueiro
	
	
struct Tile:
ATRIBUTOS:
	listaForçaFerormonios
	isFood
	isAnthill
	
Class FonteDeComida:
ATRIBUTOS:
	foodLeft
MÉTODOS:
	
	


















